<head>
</head>
<body>
<form>
    Card Name: <input type="text" id="CardName" 
    style="font-size:15px" size="70"><br>
    Extension: <input type="text" id="ExtName" 
    style="font-size:15px" size="2" maxlength="3"><br>
    <br><input type="submit" value="Search">
    <br><br>
</form>    
    
<img src="{{cardimg}}" />
<p><b>Format: </b>{{format}}</p>
<p><b>Card ID: </b>{{id}}</p>
<p><b>Name: </b>{{name}}</p>
<p><b>Category: </b>{{type}}</p>
<p><b>Attribute: </b>{{attribute}}</p>
<p><b>Level: </b>{{level}}</p>
<p><b>Scales: </b>{{lscale}} / {{rscale}}</p>
<p><b>Type: </b>{{race}}</p>
<p><b>Archetype: </b>{{setcode}}</p>
<p><b>ATK: </b>{{atk}} / <b>DEF: </b>{{def}}</p>


<b>Description</b>
    <br><br>
{{{desc}}}
</body>


